
<%= @event.title %>
==========================================================
Salut <%= @user.first_name %>,</h1>
Tu t'es inscrit à l'événement : <%= @event.title %>.
À très vite sur monsite.fr !</p>
