		<table class="table table-hover text-center table-bordered">
			<thead>
				<tr>
					<th>Prénom</th>
					<th>Nom</th>
				</tr>
			</thead>
			<% @event.users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
			</tr>
			<% end %>
		</table>